<div class="nav">
  <div class="first">
    <app-nav></app-nav>
  </div>
  <div class="main">
    <input type="text" class="text-input" (keyup)="inputText($event)" />
    <button *ngIf="projectName.length <= 0" (click)="addProject()">
      Create new Project
    </button>
    <span *ngIf="projectName.length > 0">{{ projectName }}</span>
  </div>
  <div class="caluclute">
    <span>{{ hour }}:{{ minute }}:</span>
    <span *ngIf="counter < 10">0</span>{{ counter }}
    <button (click)="startTimer()">{{ startText }}</button>
  </div>
  <div *ngIf="isaddProject" class="project">
    <h1>Add Project</h1>
    <app-add-project
      (cancel)="onCancel($event)"
      (create)="getProjectName($event)"
    ></app-add-project>
  </div>

  <div class="project" *ngIf="dataList?.length">
    <h1>List of Project</h1>
    <app-show-list [data]="dataList"></app-show-list>
  </div>
</div>
